body
{
 font-family: Adobe Myungjo Std M ;
margin-left: 250px;
margin-right: 250px;
}

#wrapper
{
border-style: inset;
background-color:#F0FFF0;
max-width : 1000px;
min-width : 320px ;
margin: auto;
padding-left: 20px ;
padding-right: 20px ;
padding-top: 20px ;

}

header img 
{
width: 20%;
height: auto;	
margin-top: -8%;
float : right ;
border : 1px solid #ccc;
border-radius : 3px ;
background-color : #ffffff ;
box-shadow: 2px 4px rgba(0, 0, 0, 0.2);

}

#article
{   

	border-bottom: 6px double Navy  ;
	font-size: 28px;
	color: Navy ;	
}
#date 
{
 color : RoyalBlue ;
 font-weight: bold;
 font-size: 18px ;
}
#titre
{
 font-weight: bold;
 font-size: 18px ;
 text-transform:capitalize;
}
section 
{ 
	text-align: justify;

}
#h2 
{
text-align: center;
margin-top: 10%;
font-size: 35px;
color :	#4169e1;
}
#name 
{
	font-style: normal;
	color: Navy ;
	
}
footer{
	text-align: center ;
}

